body {
  margin: 0;
  font-family: "Poppins";
  width: 100%;
  background-color: white;
}

body div {
  line-height: 1.5; /* Adds space between sentences */
  word-spacing: 0.5px; /* Adds space between words */
}

button {
  background-color: white;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #fc4be1;
  border-radius: 2px;
}

ul {
  padding-top: 15px;
}

ul li {
  margin-bottom: 45px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit; /* This will make the link color inherit the color from its parent element */
  cursor: pointer;
}

a:visited {
  color: inherit; /* Ensures the visited link color is the same as the normal link color */
}
