body {
  font-family: "Quantico", sans-serif;
  background-color: black; /*#202020*/
  color: white; /*#f5f5f5*/
  line-height: 2;
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #fc4be1;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: #fc4be1;
  cursor: pointer;
}

a:visited {
  color: #fc4be1;
}

.images {
  width: 30%;
  padding: 10px;
}

.images img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.source {
  text-align: center;
  margin-top: 20px;
}

.source p {
  margin: auto;
  font-size: 0.9rem;
}

.emphasis {
  color: #d43777;
  font-weight: bold;
}
