.container {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0px 20px;
    margin-bottom: 100px;
  }
  
  .information-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  
  .warning {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    margin: 20px auto; 
    max-width: 56%; 
    color: #fff; 
    background-color: #d43777; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1.2rem; 
    font-weight: 700;
    text-align: center;
    position: relative;
  }
  
  .steps,
  .when-to-replace,
  .tools-needed {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 25px;
    border-radius: 16px;
    background-color: #ffeaf7;
  }
  
  .when-to-replace-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 15px auto;
  }
  
  .steps-list,
  .when-to-replace-list,
  .tools-needed-list {
    margin-left: 15px;
    font-size: 19px;
    line-height: 2.5;
  }
  .steps-list li {
    margin-bottom: 35px;
  }
  .figures {
    margin: 0;
    text-align: start;
    color: #fc4be1;
    font-weight: 1000;
    text-decoration: underline;
    position: relative;
    left: 10px;
    top: -50px;
  }
  .inline-figure {
    color: #fc4be1;
    text-decoration: underline;
  }
  .home-container {
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
  }
  .home-button,
  .home-button a,
  .home-button img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }
  .home-container:hover,
  .home-button:hover,
  .home-button a:hover,
  .home-button img:hover {
    width: 125px;
    top: 1%;
    left: 10px;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .emphasis {
    color: #d43777;
    font-weight: bold;
  }
  